.card{
    background: linear-gradient(179.14277057431343deg, rgba(255, 255, 0,1) 23.83945354249229%,rgba(254, 254, 0,1) 23.83945354249229%,rgba(237, 206, 0,1) 72.38667890658051%);
    padding: 10px 0;
    border: ;
    text-align: center;
}
body {
  background: linear-gradient(180.3274008908444deg, rgba(237, 206, 0,1) 67.7377595354993%,rgba(153, 151, 128,1) 88.92420290746065%,rgba(153, 151, 129,1) 88.92420290746065%);
  font-family: "Roboto", sans-serif;
  font-weight: 80;
  font-size: 8px;
}
.component__weather-box {
  margin: 5px auto;
  width: 320px;
  border: 1px solid grey;
  border-radius: 5px;
   
}
.component__weather-content {
  position: relative;
  color: black;
  background: yellow;
  height: 70px;
}
.component__weather-content:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.weather-content__overview {
  width: 50%;
  text-align: center;
  display: inline-block;
  float: left;
  z-index: 2;
  position: relative;
}
h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.weather-content__temp {
  width: 50%;
  z-index: 2;
  text-align: center;
  float: left;
  font-size: 30px;
  text-align: center;
  margin-top: 0.5em;
  position: relative;
  vertical-align: middle;
}
.weather-content__temp .degrees {
  line-height: 40px;
}
.weather-content__temp .wi-degrees {
  margin-left: -10px;
  vertical-align: top !important;
}
.currentTemp .wi {
  margin-right: 20px;
  font-size: 20px;
  vertical-align: baseline;
}
.component__forecast-box {
  display: flex;
  clear: both;
}
.forecast__item {
  flex: 1;
  text-align: center;
}
.forecast-item__heading {
  background: yellow;
  border: 1px solid grey;
  border-left: none;
  text-transform: uppercase;
  color: black;
  font-weight: 800;
  padding: 10px;
}
.forecast-item__info {
  background: yellow;
  color: black;
  padding-bottom: 10px;
  border-right: 1px solid grey;
}
.forecast-item__info .wi {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 0;
}
.forecast-item__info .degrees {
  font-size: 15px;
  line-height: 15px;
}
.forecast-item__info .degrees .wi-degrees {
  display: inline;
}
small {
  font-size: 10px;
}